@import "./_variables.scss";

.not-on-mobile {
  @media #{$mobile} {
    display: none !important;
  }
}
.mobile-only {
  @media #{$not-mobile} {
    display: none !important;
  }
}
body {
  background-color: #eee;
  display: flex;
  justify-content: center;
  font-family: p, Helvetica, Arial, sans-serif;
  color: $std-font-color;
  font-size: $std-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
p {
  line-height: $std-line-height;
}
